<!DOCTYPE html>
<html>
<title>用户邮箱验证码注册</title>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="xxxx">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div style="background-color:#ECECEC; padding: 35px;">
    <table cellpadding="0" align="center"
           style="width: 800px;height: 100%; margin: 0px auto; text-align: left; position: relative; border-radius: 5px;font-size: 14px; font-family:微软雅黑, 黑体; line-height: 1.5; box-shadow: rgb(153, 153, 153) 0px 0px 5px; border-collapse: collapse; background: #fff initial initial initial initial;">
        <tbody>
        <tr>
            <th valign="middle"

                style="height: 25px; line-height: 25px; padding: 15px 35px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #42a3d3; background-color: #49bcff; border-radius: 5px 5px 0px 0px;">
                <font face="微软雅黑" size="5" style="color: rgb(255, 255, 255); ">邮箱验证/Email address verification</font>
            </th>
        </tr>
        <tr>
            <td style="word-break:break-all">
                <div style="padding:25px 35px 40px; background-color:#fff;">
                    <h2 style="margin: 5px 0px; ">
                        <font color="#333333" style="line-height: 20px; ">
                            <font style="line-height: 22px; " size="4">
                                尊敬的用户：</font>
                        </font>
                    </h2>
                    <!-- 中文 -->
                    <p>非常欢迎您注册开源社区图谱网站!</p>
                    <p>您的邮箱注册验证码为：<strong>{{ email_code1 }}</strong>, 该验证码有效时间为两分钟，请及时进行验证.
                    </p>
                    <p>如果您遇到了什么问题，可以通过邮箱 <strong>2868470542@qq.com</strong> 联系我们.工作人员收到邮件之后会立即处理，并在相应的时间之类给予满意的答复.
                    </p>
                    <p>如果您从未注册过开源社区图谱网站,请忽略该邮件.</p>
                    <p>谢谢!</p><br>


                    <!-- 英文 -->
                    <h2 style="margin: 5px 0px; ">
                        <font color="#333333" style="line-height: 20px; ">
                            <font style="line-height: 22px; " size="4">
                                Dear user，</font>
                        </font>
                    </h2>
                    <p>You are welcome to register the open source Community Map website!</p>
                    <p>Your email registration verification code is <strong>{{ email_code2 }}</strong>, and the validity
                        period of the
                        verification code is two minutes. Please verify the verification in time.
                    </p>
                    <p>If you have any problems, you can contact us at <strong>2868470542@qq.com</strong>. The staff
                        will deal with the email
                        immediately and give a satisfactory response at the appropriate time.
                    </p>
                    <p>If you have never signed up for the Open Source Community Map website, please ignore this
                        email.</p>
                    <p>Thank you !</p><br>


                    <div style="width:700px;margin:0 auto;">
                        <div style="padding:10px 10px 0;border-top:1px solid #ccc;color:#747474;margin-bottom:20px;line-height:1.3em;font-size:12px;">
                            <p></p>
                            <p>电子邮箱：2868470542@qq.com</p>
                            <p>通讯地址：学院路37号北京航空航天大学</p><br>
                            <p>此为系统邮件，请勿回复<br>
                                Please do not reply to this system email
                            </p>
                            <!--<p>©***</p>-->
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
