<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="xxxx">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div>
    <includetail>
        <div align="center">
            <div class="open_email" style="margin-left: 8px; margin-top: 8px; margin-bottom: 8px; margin-right: 8px;">
                <div>
                    <br>
                    <span class="genEmailContent">
                        <div id="cTMail-Wrap"
                             style="word-break: break-all;box-sizing:border-box;text-align:center;min-width:320px; max-width:660px; border:1px solid #f6f6f6; background-color:#f7f8fa; margin:auto; padding:20px 0 30px; font-family:'helvetica neue',PingFangSC-Light,arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei',simsun,sans-serif">
                            <div class="main-content" style="">
                                <table style="width:100%;font-weight:300;margin-bottom:10px;border-collapse:collapse">
                                    <tbody>
                                        <tr style="font-weight:300">
                                            <td style="width:3%;max-width:30px;"></td>
                                            <td style="max-width:600px;">
                                                <!-- {-- LOGO --} -->
                                                <div id="cTMail-logo" style="width:92px; height:55px;margin-left: 0px;margin-top: -30px">
                                                    <!-- {-- 替换跳转链接 --} -->
                                                    <a href="https://milimili.super2021.com">
                                                        <!-- {-- 替换LOGO图片 --}} -->
                                                        <img border="0"
                                                             src="https://global-1309504341.cos.ap-beijing.myqcloud.com/MiliMili-small.png"
                                                             style="width:172px; height:80px;display:block">
                                                    </a>
                                                </div>
                                                <!-- {-- 页面上边的蓝色分割线 --} -->
                                                <p
                                                        style="height:2px;background-color: #FFAF60;border: 0;font-size:0;padding:0;width:100%;margin-top:20px;">
                                                </p>

                                                <div id="cTMail-inner"
                                                     style="background-color:#fff; padding:23px 0 20px;box-shadow: 0px 1px 1px 0px rgba(122, 55, 55, 0.2);text-align:left;">
                                                    <table
                                                            style="width:100%;font-weight:300;margin-bottom:10px;border-collapse:collapse;text-align:left;">
                                                        <tbody>
                                                            <!-- {-- 第一个单元格 --} -->
                                                            <tr style="font-weight:300">
                                                                <!-- {-- 左侧表格，设置左边距用的 --} -->
                                                                <td style="width:3.2%;max-width:30px;"></td>
                                                                <!-- {-- 中间表格，正文使用 --} -->
                                                                <td style="max-width:480px;text-align:left;">
                                                                    <!-- {-- 以下是正文 --}
                                                                    {-- 可以是标题 --} -->
                                                                    <h1 id="cTMail-title"
                                                                        style="font-size: 20px; line-height: 36px; margin: 0px 0px 22px;">
                                                                        {{ title }}
                                                                    </h1>

                                                                    <p id="cTMail-userName"
                                                                       style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                                                        尊敬的MiliMili用户，您好！
                                                                    </p>

                                                                    <p class="cTMail-content"
                                                                       style="line-height: 24px; margin: 6px 0px 0px; overflow-wrap: break-word; word-break: break-all;">
                                                                        <span
                                                                                style="color: rgb(51, 51, 51); font-size: 14px;">
                                                                            <strong>{{ message }}</strong>
                                                                        </span>
                                                                    </p>
                                                                    <p class="cTMail-content"
                                                                       style="line-height: 24px; margin: 6px 0px 0px; overflow-wrap: break-word; word-break: break-all;">
                                                                        <span
                                                                                style="color: rgb(51, 51, 51); font-size: 14px;">点击下面按钮可立即返回网站首页。
                                                                            <span
                                                                                    style="font-weight: bold;">非本人操作可忽略。</span>
                                                                        </span>
                                                                    </p>

                                                                    <!-- {-- 按钮 --} -->
                                                                    <p class="cTMail-content"
                                                                       style="font-size: 14px; color: rgb(51, 51, 51); line-height: 24px; margin: 6px 0px 0px; word-wrap: break-word; word-break: break-all;">
                                                                        <!-- {-- 下面替换成自己的链接 --} -->
                                                                        <a id="cTMail-btn" href="{{ url }}" title=""
                                                                           style="font-size: 16px; line-height: 45px; display: block; background-color: #FFAF60; color: rgb(255, 255, 255); text-align: center; text-decoration: none; margin-top: 20px; border-radius: 3px;">
                                                                            点击此处至网站首页
                                                                        </a>
                                                                    </p>

                                                                    <p class="cTMail-content"
                                                                       style="line-height: 24px; margin: 6px 0px 0px; overflow-wrap: break-word; word-break: break-all;">
                                                                        <span
                                                                                style="color: rgb(51, 51, 51); font-size: 14px;">
                                                                            <br>
                                                                            无法正常显示？请复制以下链接至浏览器打开：
                                                                            <br>
                                                                            <a href="{{ url }}" title=""
                                                                               style="color: #FFAF60; text-decoration: none; word-break: break-all; overflow-wrap: normal; font-size: 14px;">
                                                                                这里是网站首页的链接
                                                                            </a>
                                                                        </span>
                                                                    </p>
                                                                    <!-- {-- 来个署名 --} -->
                                                                    <dl
                                                                            style="font-size: 14px; color: rgb(51, 51, 51); line-height: 18px;">
                                                                        <dd
                                                                                style="margin: 0px 0px 6px; padding: 0px; font-size: 12px; line-height: 22px;">
                                                                            <p id="cTMail-sender"
                                                                               style="font-size: 14px; line-height: 26px; word-wrap: break-word; word-break: break-all; margin-top: 32px;">
                                                                                此致
                                                                                <br>
                                                                                <strong>MiliMili团队</strong>
                                                                            </p>
                                                                        </dd>
                                                                    </dl>
                                                                </td>
                                                                <!-- {-- 右侧表格，设置右边距用的 --} -->
                                                                <td style="width:3.2%;max-width:30px;"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <!-- {-- 页面底部的推广 --} -->
                                                <div id="cTMail-copy"
                                                     style="text-align:center; font-size:12px; line-height:18px; color:#999">
                                                    <table
                                                            style="width:100%;font-weight:300;margin-bottom:10px;border-collapse:collapse">
                                                        <tbody>
                                                            <tr style="font-weight:300">
                                                                <!-- {-- 左，左边距 --} -->
                                                                <td style="width:3.2%;max-width:30px;"></td>
                                                                <!-- {-- 中，正文 --} -->
                                                                <td style="max-width:540px;">

                                                                    <p
                                                                            style="text-align:center; margin:20px auto 14px auto;font-size:12px;color:#999;">
                                                                        此为系统邮件，请勿回复。

                                                                    </p>

                                                                    <!-- {-- 可以加个图片，公众号二维码之类的 --} -->
                                                                    <p id="cTMail-rights"
                                                                       style="max-width: 100%; margin:auto;font-size:12px;color:#999;text-align:center;line-height:22px;">

                                                                        <img src="https://global-1309504341.cos.ap-beijing.myqcloud.com/CopyRight-big.png"
                                                                             style="width:220px; height:40px;display:block;margin: auto">
                                                                    </p>
                                                                </td>
                                                                <!-- {-- 右，右边距 --} -->
                                                                <td style="width:3.2%;max-width:30px;"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                            <td style="width:3%;max-width:30px;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </span>
                    <!-- {-- <br>--} -->
                </div>
            </div>
        </div>
    </includetail>
</div>